/* LeadList.css */
/* div {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  } */
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  li:hover {
    background-color: #e2e2e2;
  }
  